@charset "utf-8";
/* CSS Document */

/*********************************************
        MENU FORMATTING
 **********************************************/
ul#menu {
	padding:0;
}
ul#menu li {
	display:inline;
}
ul#menu li a {
	background-color: DarkOliveGreen;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
}
ul#menu li a:hover {
	background-color: orange;
	color:
}

/**********************************************
        BOOTSTRAP OVERRIDES
 **********************************************/
.btn-success {
	background: -moz-linear-gradient(top,  Olive 50%, DarkOliveGreen 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,Olive), color-stop(50%,DarkOliveGreen)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  Olive 50%,DarkOliveGreen 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  Olive 50%,DarkOliveGreen 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  Olive 50%,DarkOliveGreen 50%); /* IE10+ */
    background: linear-gradient(to bottom,  Olive 50%,DarkOliveGreen 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='Olive', endColorstr='DarkOliveGreen',GradientType=0 ); /* IE6-9 */
	font-weight:bold;
	border-width:0px
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background: -moz-linear-gradient(top,  #F90 50%, #F60 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#F90), color-stop(50%,#F60)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #F90 50%,#F60 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #F90 50%,#F60 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #F90 50%,#F60 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #F90 50%,#F60 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F90', endColorstr='#F60',GradientType=0 ); /* IE6-9 */
	border-bottom-color:#F60;
	border-left-color:#F60;
	border-top-color:#F90;
	border-right-color:#F90;
}

.btn-success:active, .btn-success.active {
    background: -moz-linear-gradient(top,  #F60 50%, #F90 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#F60), color-stop(50%,#F90)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #F60 50%,#F90 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #F60 50%,#F90 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #F60 50%,#F90 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #F60 50%,#F90 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F60', endColorstr='#F90',GradientType=0 ); /* IE6-9 */
	border-bottom-color:#F90;
	border-left-color:#F90;
	border-top-color:#F60;
	border-right-color:#F60;
}

.container#menu {
	position:relative;
}

.container#jumbotitle {
	position:fixed;
	width:70%;
	z-index:2;
}

.container#content {
	float:right;
	position:relative;
	top:100px;
}

/**********************************************
        TEXT FORMATING
 **********************************************/
	/* Page Title */
	div#title {
		padding:10px;
		background-color:DarkOliveGreen;
		font-family:Arial, Helvetica, sans-serif;
		color:#FFF;
	}
	div#subtitle {
		padding:1px;
		background-color:#030;
		font-family:Arial, Helvetica, sans-serif;
		color:#FFF;
	}
	
	h1#title {
		margin-left:20px;
		font-weight:bold;
	}
	h2#title {
		margin-left:50px;
		font-weight:bold;
	}
	
	/* Regular Text &Stuff */
	h2 {
		margin-left:20px;
		color:#030;
	}
	
	p {
		font-family:Arial;
		margin:10px;
	}
	
	a {
		color:DarkOliveGreen;
		text-decoration:none;
	}
	
	a:hover {
		color:green;
		text-decoration:underline;
	}
	
	a:active {
		color:#030;
		text-decoration:underline;
	}
	
