version: '3'

services:
  qgis:
    image: qgis/qgis:release-3_18
    container_name: dsgtools-testing-env
    volumes:
      # - /tmp/.X11-unix:/tmp/.X11-unix
      - ../DsgTools:/tests_directory
      - ../tests:/tests_directory/tests
    environment:
      # - DISPLAY=unix$DISPLAY
      - DISPLAY=:99